
:root{
    --beige:#fbeee0;
    --light-beige:#fcf6ef;
    --white:#fff;
    --brown:#422800;
    --color-gray-dark: #131313;
}

body{
    background-image: linear-gradient(to bottom, #0c0001, #210001);
    color :var(--beige);
    font-family: "Jost", serif;
    font-size:1em;
    margin:0px;
}

/* **************** HEADER ************** */

header{
    margin-bottom: 100px;
}

header .logo{
    width:600px;
    text-align: center;
    display: block;
    margin: 50px auto 100px auto;
}

 h1 {
    font-family: "Jost", serif;
    text-align: center;
    font-size:3em;
    font-weight:800;
    color:var(--beige);
    letter-spacing:1px;
    text-transform: uppercase;
    
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

   text-shadow:2px 10px 30px rgb(224, 5, 5);
}

header h1:after, header h1:before{
    content: " ";
    display: block;
    height: 1px;
    background-color:var(--beige);
    box-shadow:1px 1px 20px 5px rgb(190, 1, 1);
}

/*  NAVBAR * */
nav{
    width:100%;
    margin:100px auto 100px auto;
    justify-content: center;
    display: flex;
    gap:150px;
    font-weight: bolder;
    font-size:0.8em;
}

nav .flexBoxNav{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width:8.5%;
    background-color: var(--beige);
    border-radius: 30px;
    color: var(--brown);
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    padding: 0 18px;
    text-align: center;
}

nav .flexBoxNav:hover {
  background-color:var(--white);
  -webkit-box-shadow: 1px 1px 30px 1px rgb(190, 1, 1);
  -moz-box-shadow: 1px 1px 30px 1px rgb(190, 1, 1);
  box-shadow:1px 1px 30px 1px rgb(190, 1, 1);
}

nav .flexBoxNav:active {
  box-shadow: var(--brown) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

nav .flexBoxNav a{
    color:var(--brown); 
    text-decoration: none;
} 

nav .flexBoxNav a .fa-play{
    font-size: 1em;
    margin:5px;
}

/* **************** SEARCH BAR ************** */

.searchBarContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px auto 0px auto;
    position :relative;
}

.searchBarContainer .fa-magnifying-glass{
    position :absolute;
    color:var(--brown);
    right:25%;
}

@media screen and (min-width: 1400px) {
    .searchBarContainer .fa-magnifying-glass{
        position :absolute;
        color:var(--brown);
        right:30%;
  }
}

.searchBarContainer .fa-magnifying-glass:hover{
    cursor: pointer;
}

.searchBarContainer .searchBar{
    border-radius: 20px;
    width:700px;
    height:30px;
    padding-left:10px;
    border:1px var(--beige) solid;
    color:grey;
    margin:20px;
    background-color:var(--beige);
}

.searchBarContainer .searchBar:focus{
    outline:none;
    background-color:var(--white);
    box-shadow:1px 1px 30px 1px rgb(190, 1, 1);
}

/* **************** CONTENT WRAPPER ************** */
#wrapper{
    display: flex;
    justify-content:center;
    padding-top : 100px;
} 

#wrapper #contenu{
    width:100%;
    height:min-content;
}

/* **************** HEADINGS ************** */
#wrapper #contenu h2{
    font-family: "Blinker", serif;
    font-weight: 700;
    font-size:3em;
    width: fit-content;
    display:block;
    margin: auto;
    color:var(--light-beige);
    letter-spacing: 5%;
}

.count{
    text-align: center;
}

/* **************** TABLES ************** */
.table{
    text-align: center;
    margin:20px;
}

th{
    font-size:1.3em;
}

td{
    font-size:1.2em;
}

/* **************** HOME PAGE ************** */

.home_wrapper{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.poster_container{
    text-align: center;
}

.poster_container img{
    width:40%;
    border-radius: 5%;
}

.fiveStars{
    font-size: 2em;
    color:var(--light-beige);
    text-align: center;
    margin:50px auto 100px auto;

}
.fiveStars i{
    text-shadow: 2px 2px 40px rgba(255, 0, 0, 0.832);
}

/* ** SLIDER **/

.emotions-slider {
	padding-inline: 98px;
	position: relative;
}

@media screen and (max-width: 767.9px) {
	.emotions-slider {
		padding: 0;
		margin-inline: -20px;
	}
}

/**
 * Slider Navigation
 */
.swiperUpdated{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.slider-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	translate: 0 -50%;
	z-index: 1;
	pointer-events: none;
}

.slider-nav__item {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	width: 48px;
	pointer-events: auto;
	cursor: pointer;
	transition: all 0.3s ease-out;
}


@media (hover: hover) and (pointer: fine) {
	.slider-nav__item:not(.disabled):hover {
		color: var(--color-blue);
	}
}

@media (hover: none) {
	.slider-nav__item:not(.disabled):active {
		color: var(--color-blue);
	}
}

@media screen and (max-width: 767.9px) {
	.slider-nav {
		display: none;
	}
}


/*** Slider Card */

/* .swiper-slide {
	width: auto;
	height: auto;
    display: flex;
	justify-content: center;
	align-items: center;
} */

@keyframes btn-arrow-move {
	0% {
		translate: 0;
	}
	100% {
		translate: 100% -100%;
	}
}

.emotions-slider-item {
	border-radius: 5px;
    height: fit-content;
	background: var(--color-gray-dark);
    transition: transform 0.3s ease-in-out;
    
}

.emotions-slider-item__image {
	aspect-ratio: auto;
    cursor: pointer;
	overflow: hidden;
    box-shadow: 0px 2px 40px -15px rgba(255,0,0,1);
}

.emotions-slider-item__image img {
	width: 100%;
	max-height: 200%;
	object-fit: cover;
	object-position: center;
}

.emotions-slider-item__footer {
	max-height: 50px;
	overflow: hidden;
	transition: max-height 0.6s ease-in;
}

.emotions-slider-item__footer{
    text-align: right;
}

/* **************** DIRECTORS LIST ************** */

.persons_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    justify-items: center;
}

.persons_grid .persons_container{
    width: fit-content;
}

.persons_grid .persons_container .portrait{
    width:150px;
    height:150px;
    border-radius:100px;
    object-fit: cover;
    filter:grayscale(100%);
}

.persons_grid .persons_container p{
    text-align: center;
}

/* **************** CATEGORY LIST ************** */
.category_wrapper{
    height : 30%;
    width : 70%;
    gap:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.wrapper-trash-a{
    margin-top:40px;
    display: block;
    text-align: center;

    .fa-trash{
        font-size:1em;
        text-align: right;
    }

    .fa-trash:hover{
        transform: scale(1.5);
        cursor: pointer;
    }
    a{
        color:white;
        text-decoration: none;
    }

    .category_container{
        width:150px;
        height:40px;
        text-align: center;
        font-size:1.5em;
        font-weight: 300;
        border-radius: 10px;
        margin:20px;
        border:rgb(50, 2, 2) solid 1px;
        box-shadow:1px 1px 30px 1px rgb(190, 1, 1);
    }
}

/* **************** ALL MOVIES GRID ************** */
.movie_grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    margin:100px 0px 0px 100px;
    row-gap:50px;
}

.movie_grid .container{
    position:relative;
    width:50%;

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .middle .link .fa-eye{
        color:white;
        font-size:2em;
      }
}

.movie_grid .container .poster{
    object-fit: cover;
    border-radius:3px;
    display: block;
    width: 150%;
    height: 100%;
    transition: .5s ease;
    box-shadow:1px 1px 40px 5px rgb(105, 0, 0);
}

.movie_grid .container:hover .poster {
    opacity: 0.4;
    transform: scale(1.2);
    transition:0.8s ease;
    cursor: pointer;
    box-shadow:2px 2px 100px 50px rgb(204, 3, 3);
}

.movie_grid .container:hover .middle {
    opacity: 1;
}

/* **************** DETAILS FILM ************** */
.movieDetails{
    width : 20%;
    margin: 50px auto auto auto;
    padding:20px;
}

#deleteOption{
    text-align: center;
    font-size:1em;
    margin-top:50px;

    i{
        font-size:1em;
    }

    i:hover{
        cursor: pointer;
        transform: scale(1.5);
    }

    a{
        color:white;
    }
} */

/* **************** PERSON DETAILS ************** */
.person_container{
    display:flex;
    justify-content: center;
}
.personCard{
    max-width: fit-content;
    height:fit-content;
    padding:40px;
    border:rgb(50, 2, 2) solid 1px;
    box-shadow:1px 1px 30px 1px rgb(190, 1, 1);
    border-radius: 5px;
    margin : 50px auto auto auto;
}

.personPortrait{
    border-radius: 200px;
    width:200px;
    height:200px;
    object-fit: cover;
    margin-bottom:30px;
    opacity:80%;
}

#personMovie{
    text-align:center;
}

/* **************** FORMS ************** */

.add-form{
    text-align: center;
    color:var(--brown);
    margin:20px auto 20px auto;
    /* background-color:rgb(50, 2, 2); */
    width:40%;
    border-radius: 10px;
    padding:20px;
    opacity: 0.8;
    /* box-shadow:1px 1px 30px 1px rgb(190, 1, 1); */
    label{
        display: block;
        margin: 5px 0; 
        text-align: center;
        color:white;
    }
 
    input,#gender,select{
        width: 70%;
        margin: 5px 0; 
        display: inline-block;
        font-family: "Jost", serif;
        font-size: 1em;
        letter-spacing: -0.2px;
        border-radius: 20px;
        padding:8px;
        background-color:#FFF;
        box-shadow: inset 2px 2px 5px #3c1f1f, inset -5px -5px 10px #FFF;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;
        border: 0;
        outline: 0;
        box-shadow:1px 1px 30px 1px rgb(190, 1, 1);
    
        &:focus {
            box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px var(--white);
          }
    }
}

/* **************** BUTTONS ************** */
/* ADD, SUBMIT */
.add-button,#submit{
    width:fit-content;
    background-color:#630101;
    border-radius: 40px;
    height:fit-content;
    text-align: center;
    color: var(--light-beige);
    font-size:1em;
    font-weight:600;
    text-decoration: none;
    display:block;
    margin:10px auto 10px auto;
    padding-left:10px;
    padding-right:10px;
    border: none;
    cursor: pointer;

    -webkit-box-shadow: 0px 10px 23px 0px rgb(44, 7, 7);
    -moz-box-shadow: 0px 10px 23px 0px rgb(44, 7, 7);
    box-shadow: 0px 10px 23px 0px rgb(44, 7, 7);
}

#submit{
    width:15%;
    height:15%;
}

.fa-circle-plus{
    margin:5px;
    font-size:1em;
    display: block;
}

/* DELETE */
.options{
    display: flex;
    width:100%;
    height: fit-content;
    margin:100px;
}

.delete-form{
    width:50%;
    text-align: center;
    margin: auto;
}

.delete-form #type{
    width:fit-content;
    height:5%;
    padding:2px 2px 2px 10px;
    border-radius:10px;
    margin:10px;
}

/* **************** FOOTER ************** */
footer{
    /* background-color: #240a0a; */
    background-color: #0b0001;
    width:100%;
    font-family:"Jost", serif;
    margin-top:10vh;
}

#flexBox{
    display: flex;
    justify-content: space-evenly;
    gap:20%;
}

.section{
    display:block;
    font-size:1;
    font-weight:300;

    p:hover{
        cursor: pointer;
    }
}

.sectionTitle{
    font-weight:500;
}

.small{

    text-align: center;
    align-self: flex-end;
    font-size: 0.9em;
    font-weight: 300;
}

.small i{
    font-size:0.9em;
}

.section .addMovie_link a{
    color:white;
    text-decoration: none;
}



/**  **/







